<div id="wrapper">
    <nav role="navigation" id="access">
        <a class="skip-link icon-reorder" title="Accéder au menu" href="#menu">Menu</a>
        <ul id="menu">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Scores & Schedules", "ScoreSchedules", "Home")</li>
            <li>@Html.ActionLink("Standings", "Standings", "Home")</li>
            <li>@Html.ActionLink("Registration", "Registration", "Home")</li>
            <li>@Html.ActionLink("Store", "Store", "Home")</li>
            <li>@Html.ActionLink("About Us", "About", "Home")</li>
        </ul>
    </nav>
</div>